# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [1]:
import pandas as pd
import numpy as np
import math

# Seu código aqui
ano = pd.Series([1900, 1920, 1940, 1960, 1980, 2000, 2020])
anomalia_termica = pd.Series([-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02])

#### 2) Coloque os anos nos índices conforme a tabela.

In [2]:
# seu código aqui
ano_indece = pd.Series([-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02],
                      index=ano)
ano_indece

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [3]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui
serie_dic_temp = pd.Series(dic_temperaturas)
serie_dic_temp

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [4]:
arr = np.random.normal(100, 10, (20,3))
# seu código aqui
df = pd.DataFrame(arr)
df

             0           1           2
0    86.818163  119.563684  102.082219
1   109.294276   84.030789   97.639993
2   105.309886  105.347572   83.709954
3    89.203052   93.254567  101.721223
4    93.353707   82.199905  103.898103
5   105.360915  104.321799  107.813082
6   110.259081   94.442412   85.648601
7    97.325105  103.773689  114.187038
8    99.483158   96.934087   93.322264
9    93.156919   74.892912   86.515014
10   95.698064  109.588054  116.757103
11   97.318391   99.291110   79.724265
12  109.276171   94.575512   94.387256
13  104.519504   96.458749   89.211052
14   96.644799   94.579077   94.912021
15   97.097431   78.948944   79.248699
16  104.690227   87.709932   90.434984
17  103.082644  111.343414  107.324587
18   93.550374   95.822829  110.186569
19   95.559754  116.850528   99.906696

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [5]:
#seu código aqui
df = df.rename(lambda x: x + 1)
df = df.rename(columns={0:'x1', 1:'x2', 2:'x3'})
df

            x1          x2          x3
1    86.818163  119.563684  102.082219
2   109.294276   84.030789   97.639993
3   105.309886  105.347572   83.709954
4    89.203052   93.254567  101.721223
5    93.353707   82.199905  103.898103
6   105.360915  104.321799  107.813082
7   110.259081   94.442412   85.648601
8    97.325105  103.773689  114.187038
9    99.483158   96.934087   93.322264
10   93.156919   74.892912   86.515014
11   95.698064  109.588054  116.757103
12   97.318391   99.291110   79.724265
13  109.276171   94.575512   94.387256
14  104.519504   96.458749   89.211052
15   96.644799   94.579077   94.912021
16   97.097431   78.948944   79.248699
17  104.690227   87.709932   90.434984
18  103.082644  111.343414  107.324587
19   93.550374   95.822829  110.186569
20   95.559754  116.850528   99.906696

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [6]:
# seu código aqui
df['media'] = (df['x1'] + df['x2'] + df['x3'])/3
df

            x1          x2          x3       media
1    86.818163  119.563684  102.082219  102.821355
2   109.294276   84.030789   97.639993   96.988353
3   105.309886  105.347572   83.709954   98.122471
4    89.203052   93.254567  101.721223   94.726281
5    93.353707   82.199905  103.898103   93.150572
6   105.360915  104.321799  107.813082  105.831932
7   110.259081   94.442412   85.648601   96.783364
8    97.325105  103.773689  114.187038  105.095277
9    99.483158   96.934087   93.322264   96.579837
10   93.156919   74.892912   86.515014   84.854949
11   95.698064  109.588054  116.757103  107.347740
12   97.318391   99.291110   79.724265   92.111256
13  109.276171   94.575512   94.387256   99.412979
14  104.519504   96.458749   89.211052   96.729768
15   96.644799   94.579077   94.912021   95.378632
16   97.097431   78.948944   79.248699   85.098358
17  104.690227   87.709932   90.434984   94.278381
18  103.082644  111.343414  107.324587  107.250215
19   93.550374   95.822829  110.186569   99.853257
20   95.559754  116.850528   99.906696  104.105659

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [9]:
# seu código aqui
df['log_med'] = None
x1 = []

for i in df['media']:
    x = math.log1p(i)
    x1.append(x)
df['log_med'] = x1
df

            x1          x2          x3       media   log_med
1    86.818163  119.563684  102.082219  102.821355  4.642672
2   109.294276   84.030789   97.639993   96.988353  4.584849
3   105.309886  105.347572   83.709954   98.122471  4.596356
4    89.203052   93.254567  101.721223   94.726281  4.561493
5    93.353707   82.199905  103.898103   93.150572  4.544895
6   105.360915  104.321799  107.813082  105.831932  4.671257
7   110.259081   94.442412   85.648601   96.783364  4.582754
8    97.325105  103.773689  114.187038  105.095277  4.664338
9    99.483158   96.934087   93.322264   96.579837  4.580671
10   93.156919   74.892912   86.515014   84.854949  4.452659
11   95.698064  109.588054  116.757103  107.347740  4.685346
12   97.318391   99.291110   79.724265   92.111256  4.533795
13  109.276171   94.575512   94.387256   99.412979  4.609291
14  104.519504   96.458749   89.211052   96.729768  4.582206
15   96.644799   94.579077   94.912021   95.378632  4.568285
16   97.097431   78.948944   79.248699   85.098358  4.455490
17  104.690227   87.709932   90.434984   94.278381  4.556803
18  103.082644  111.343414  107.324587  107.250215  4.684445
19   93.550374   95.822829  110.186569   99.853257  4.613667
20   95.559754  116.850528   99.906696  104.105659  4.654966